# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Unity.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kelme\Documents\GitHu\GE2-Test-2023-Starter\Unity\.idea\.idea.Unity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
